body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("me1.png");
  
  /* Add the blur effect */
  filter: blur(2px);
  -webkit-filter: blur(3px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg2-image{
  background-image: url("me3.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.top-right{
    position: absolute;
    top: 20%;
    right: 16px;
    font-size: 230%;
    max-width: 500px;
}
.top-left {
    position: absolute;
    top: 20%;
    left: 16px;
    font-size: 270%;
    max-width: 250px;
    font-family: Brush Script MT;
    color: 

}
.bg3-image{
  /*background-image: url("dna.gif");*/
 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}
/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 70%;
  padding: 20px;
  text-align: center;
}
  .bg-1 { 
      background-color: #1abc9c;
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d;
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff;
      color: #555555;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }

.navbar-default {
background: none;
border: none;

}



.container3{
  position: absolute;
}
#conMov
{
    position: absolute;
    top: 150px;
    left: 0px;
    right: 0;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
img {
  width: 40%;
} 

.container4{
  margin-top: 4px;
  margin-top: 200px;
  text-align: center;
  background-color: grey;
  background-size: cover;
}

.fa {

  padding-right: 30px;
  padding: 27px;
  font-size: 30px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  margin:5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #f40083;
  color: white;
}
.da:hover{
  opacity: 0.4;
}
.da{
   padding-right: 30px;
  padding: 27px;
  font-size: 30px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  margin:5px;
}
.iut{
  padding-left: 0px;
  width:9%;
  height:3%;
  margin-bottom: 11px;
}


.c:hover{
  opacity: 0.3
  background-color: red;

}



